/* CSS for Content */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #ffbbee;
  padding: 20px;
  font-family: 'Roboto Mono';
}

p {
  margin: 0;
  font-size: 1em;
  color: #282828;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

svg.content {
  fill: currentColor;
  width: 4em;
  height: 4em;
}

.text {
    display: inline-block;
    width: 40%;
    margin: 10%;
    text-align: justify;
}

.icons {
    display: inline-block;
    color: #282828;
}
